In [14]:
import numpy as np
import pandas as pd

In [15]:
#map from qualtrics question to the qid
pre_qualtrics_to_qid = {0: 148, 1: 49, 2: 18, 3: 111, 4: 6, 5: 51, 6: 93, 7: 94, 8: 102, 9: 21, 10: 128, 11: 82, 13: 135, 14: 114, 15: 146, 16: 113, 18: 131, 19: 41, 20: 55, 21: 37, 22: 52, 24: 58, 26: 11, 27: 64, 28: 14, 29: 88, 30: 84, 31: 103, 32: 90, 33: 32, 34: 117, 35: 136, 36: 31, 37: 44, 38: 132, 39: 45, 40: 42, 41: 76, 42: 104, 43: 53, 44: 72, 45: 5, 46: 15, 48: 100, 49: 27, 50: 65, 51: 35, 52: 138, 53: 125, 54: 127, 55: 99, 57: 46, 58: 75, 59: 79}
b1_to_id = {3: 145, 6: 90, 9: 24, 11: 58, 12: 130, 13: 148, 16: 83, 18: 59, 22: 111, 24: 44, 25: 17, 27: 56, 29: 141, 30: 73, 33: 6, 36: 114, 39: 11, 44: 37, 45: 9, 46: 77, 49: 75, 50: 106, 52: 102, 54: 41, 55: 89, 56: 29, 58: 133}
b2_to_id = {0: 146, 1: 72, 2: 25, 4: 79, 7: 118, 8: 84, 10: 1, 14: 19, 15: 117, 17: 21, 19: 127, 23: 50, 26: 30, 28: 120, 31: 38, 32: 143, 34: 147, 35: 8, 37: 93, 38: 2, 41: 121, 42: 68, 43: 53, 51: 97, 53: 112, 57: 42, 59: 87}
post_qualtrics_to_qid = {**b1_to_id, **b2_to_id}

new_pre_qualtrics_to_qid = sorted([(i+1, j) for i,j in pre_qualtrics_to_qid.items()])
new_post_qualtrics_to_qid = sorted([(i+1, j) for i,j in post_qualtrics_to_qid.items()])
new_post_qualtrics_to_qid = [j for i,j in new_post_qualtrics_to_qid]
new_pre_qualtrics_to_qid = [j for i,j in new_pre_qualtrics_to_qid]
print(len(new_pre_qualtrics_to_qid))
print(len(new_post_qualtrics_to_qid))

54
54

In [16]:
# read in the csv file 
df_pre = pd.read_csv('Quiz A MTurk1 10 - 5 Pre_August 22, 2018_16.47.csv', index_col='Qualtrics ID')
df_post = pd.read_csv('Quiz B MTurk1 10_5 Post_August 26, 2018_15.22.csv', index_col='Qualtrics ID')
df_pre.insert(0, 'QID', new_pre_qualtrics_to_qid)
df_post.insert(0, 'QID', new_post_qualtrics_to_qid)
df_pre[:2]
# df_post[:2]

,QID,Question,Yinuo,Dee Dee,Julia,Jenn,Jingyi,Joy,Tyler,Andrew,...,Nathaniel Ramos,Paul Walter,Flora Wang,Christine Liu,Selen Bozkurt,Maisam Pyarali,Nathan Dalal,Sorathan Chaturapruek,Daniel Choe,Answer
Qualtrics ID,,,,,,,,,,,,,,,,,,,,,
Q1,148,"Though many _____ endlessly praised his work, ...",adversaries,sycophants,sycophants,sycophants,sycophants,NaN,sycophants,sycophants,...,benefactors,sycophants,benefactors,benefactors,NaN,benefactors,benefactors,NaN,benefactors,sycophants
Q2,49,What broad group of animals are the first true...,reptiles,NaN,reptiles,NaN,amphibians,reptiles,amphibians,amphibians,...,amphibians,amphibians,NaN,reptiles,reptiles,NaN,amphibians,NaN,amphibians,amphibians

In [8]:
# generate the quizzes
for name in df_pre.columns[2:-1]:
    print(name)
    name_df = df_pre[['QID', 'Question', name, 'Answer']]
    incorrect_answers = name_df[name_df[name] != name_df['Answer']]
    thing = incorrect_answers[['QID', 'Question', 'Answer']]
    thing.to_csv(name + '_custom_quiz.csv')

Yinuo
Dee Dee
Julia
Jenn
Jingyi
Joy
Tyler
Andrew
Henry
Nina
Daniel
Fangmingyu
Francis
Olivia
Helen Wang
Wangjianzhe Shao
De-An Huang
Kylie Jue
Giovanni Campagna
Jean Coquet
Philip Zhuang
yue hui
Clayton Ellington
Nathaniel Ramos
Paul Walter
Flora Wang
Christine Liu
Selen Bozkurt
Maisam Pyarali
Nathan Dalal
Sorathan Chaturapruek
Daniel Choe

In [17]:
# list of existing ids in the database, use to find missing ones to append in order
qs= [1,2,3,5,6,8,9,10,11,14,15,17,18,19,21,24,25,27,29,30,31,32,35,37,38,40,41,42,44,45,46,49,50,51,52,53,55,56,58,59,64,65,68,70,72,73,74,75,76,77,79,82,83,84,85,87,88,89,90,92,93,94,97,99,100,102,103,104,106,111,112,113,114,117,118,120,121,125,127,128,130,131,132,133,135,136,138,139,141,142,143,144,145,146,147,148]
missing_qs_pre = pd.Series(list(set(qs) - set(df_pre['QID'])), name = 'QID')
missing_qs_post = pd.Series(list(set(qs) - set(df_post['QID'])), name = 'QID')
print(len(missing_qs_pre))
print(len(missing_qs_post))
df_pre = df_pre.set_index('QID')
df_post = df_post.set_index('QID')

42
42

In [18]:
# append columns to the spreadsheet
pre_cols = df_pre.columns
extended_df_pre = df_pre.append(pd.DataFrame('', index=missing_qs_pre, columns=pre_cols))
extended_df_pre = extended_df_pre.sort_index()

post_cols = df_post.columns
extended_df_post = df_post.append(pd.DataFrame('', index=missing_qs_post, columns=post_cols))
extended_df_post = extended_df_post.sort_index()

final_df = extended_df_pre[['Question']]
final_df.loc[df_post.index, 'Question'] = df_post['Question']

for name in extended_df_pre.columns[1:-1]:
    #final_df.loc[:,name+' pre'] = ''
    #final_df.loc[:,name+' post'] = ''
    final_df.loc[df_pre.index,name+' pre'] = (df_pre['Answer'] == df_pre[name]).astype(int)
for name in extended_df_post.columns[1:-1]:
    final_df.loc[df_post.index,name+' post'] = (df_post['Answer'] == df_post[name]).astype(int) \
                                                if name in df_post.columns else ''

C:\Users\Justin Xu\Anaconda3\envs\smartprimer\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Justin Xu\Anaconda3\envs\smartprimer\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Justin Xu\Anaconda3\envs\smartprimer\lib\site-packages\pandas\core\indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Justin Xu\Anaconda3\envs\smartprimer\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [19]:
final_df= final_df.replace(np.nan, '', regex=True)

In [20]:
final_df.head()

,Question,Yinuo pre,Dee Dee pre,Julia pre,Jenn pre,Jingyi pre,Joy pre,Tyler pre,Andrew pre,Henry pre,...,Olivia post,Francis post,Nina post,Wangjianzhe Shao post,Helen Wang post,De-An Huang post,Giovanni Capagna post,Kylie Jue post,Jean Coquet post,Philip Zhuang post
QID,,,,,,,,,,,,,,,,,,,,,
1,What kind of viscosity is found in long-chain ...,,,,,,,,,,...,0,0,1,0,1,0,1,1,1,1
2,What are by far the most common type of invert...,,,,,,,,,,...,0,0,1,0,0,1,1,1,1,1
3,,,,,,,,,,,...,,,,,,,,,,
5,Most insects reproduce quickly and through wha...,1,0,0,0,1,0,1,1,0,...,,,,,,,,,,
6,What is the most abundant metal of the earth's...,0,0,1,0,1,1,1,0,0,...,1,1,1,1,0,1,1,1,1,0

In [21]:
final_df.to_csv('user_records.csv')